<%= stylesheet_pack_tag 'vue_init', media: 'all' %>
<%= javascript_pack_tag 'vue_init', 'data-turbolinks-track': 'reload' %>
<div data-behavior="vue" class="data-container">
    <stream-output></stream-output>
</div>
